@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

body{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: #060c21;
	font-family: 'Poppins', sans-serif;
}
.container{
	position: relative;
	width: 90%;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-template-rows: auto;
	grid-gap: 40px;
}
.container .box{
	position: relative;
	height: 400px;
	background-color: #060c21;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #000;
}
.container .box::before{
	content: '';
	position: absolute;
	top: -2px;
	bottom: -2px;
	left:-2px;
	right: -2px;
	background-color: #fff;
	z-index: -1;
	transform: skew(2deg, 2deg);
}
.container .box:nth-child(1)::before{
	background: linear-gradient(315deg,#ff0057,#e64a19);
}
.container .box:nth-child(2)::before{
	background: linear-gradient(315deg,#89ff00,#00bcd4);
}
.container .box:nth-child(3)::before{
	background: linear-gradient(315deg,#ff0000,#ffc107);
}
.container .box:nth-child(4)::before{
	background: linear-gradient(315deg,#f69d3c, #ebf8e1);
}
.container .box::after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: rgba(255,255,255,0.05);
	pointer-events: none;
}
.content{
	position: relative;
	padding: 20px;
	transform: translateY(40px);
}
.box .content h2{
	position: absolute;
	top: -60px;
	right: 20px;
	margin: 0px;
	padding: 0px;
	font-size: 5em;
	color: rgba(255,255,255,0.05);
	transition: 0.5s;
}
.box:hover .content h2{
	top: -110px;
}
.box .content h3{
	margin: 0 0 10px;
	padding: 0px;
	font-size: 16px;
	color: #fff;
	font-weight: 500px;
}
.box .content p{
	margin: 0;
	padding: 0;
	font-size: 12px;
	color: #fff;
}
.box .content a{
	margin: 20px 0 0;
	padding: 5px 10px;
	font-size: 12px;
	border: 1px solid #fff;
	text-decoration: none;
	display: inline-block;
	color: #fff;
	transition: 0.5s;
	transform: translateY(-40px);
	opacity: 0;
	visibility: hidden;
}
.box:hover .content a{
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}
.box .content a:hover{
	color: #000;
	background-color: #fff;
}